@import "../../styles/variables.scss";

.CustomSlider {
  display: flex;
  gap: 20px;
  &-Arrow {
    padding: 10px;
    border: 0;
    background: none;
    transition: $main-transition;
    cursor: pointer;
    &:hover {
      background-color: $hover-color-dark;
    }
    &:first-child {
      transform: rotate(180deg);
    }
    &:disabled {
      cursor: not-allowed;
      path {
        fill: #D8D8FE;
      }
    }
  }
  &-Arrow.light {
    path {
      fill: $text-color-middle;
    }
    &:hover {
      background-color: $hover-color-light;
    }
  }
}