@import '../../styles/variables';
@import '../../styles//fonts.scss';

.PasswordRecovery {
  margin: 0 auto;
  padding: 50px 0;
  .recovery_container {
    padding: 35px 20px;
    width: 420px;
    border-width: 1px;
    border: 1px solid $text-color-dark;
    border-radius: $main-border-radius;
    form {
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        flex-direction: column;
        font-size: $font-size-large;
      }
      input {
        margin: 40px 0;
        padding: 10px;
        border: 1px solid $text-color-dark;
        border-radius: $main-border-radius;
        font-size: $font-size-middle;
      }
      .recoveryCode_title {
        margin-top: 20px;
        font-size: $font-size-h3;
        text-align: center;
      }
      .recoveryCodeRepeat {
        margin-top: 20px;
      }
      .recoveryCode {
        margin: 40px auto;
        width: 120px;
      }
    }
  }
}
