@import '../../styles/variables';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectionDark {
  background: $primary-dark-bg;
}

.sectionLight {
  background: $primary-light-bg;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.direction {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
    color: $primary-light-title;

    h2 {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
    }
  }

  .directionList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;

    .directionItem {
      width: 150px;
      height: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background: $primary-light-bg;

      h4 {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: $primary-dark-text;
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 50px;
  margin: 100px 0;

  .title {
    max-width: 900px;

    h1 {
      font-weight: 400;
      font-size: 24px;
      line-height: 45px;

      .bold {
        font-weight: 600;
      }
    }
  }

  button {
    //max-width: 250px;
    width: fit-content;
  }
}

.manual {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: 10px;
    margin-bottom: 70px;

    h2 {
      font-weight: 400;
      font-size: 36px;
      color: $primary-light-title;
    }
  }

  .manualList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .item {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgContainer {
        img {
          height: 200px;
          width: fit-content;
          margin-bottom: 20px;
        }
      }

      span {
        font-weight: 400;
        font-size: 20px;
        color: $primary-light-text;
      }
    }
  }

  a {
    margin-bottom: 45px;

    button {
      padding: 12px 10px;
    }
  }
}

.sectionTestMenu {
  .container {
    width: 95%;
  }

  .testMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0 0;

    .progressBlock {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      padding: 30px;
      background: $primary-dark-bg;

      .title {
        margin: 0 0 40px 0;
        h2 {
          text-align: center;
          font-weight: 500;
          font-size: 32px;
          color: $primary-light-title;
        }
      }
      .item1 {
        width: 60%;
        height: 200px;
        background: #42dbbf;
        margin-bottom: 30px;
      }
      .item2 {
        width: 60%;
        height: 200px;
        background: #42dbbf;
        align-self: flex-end;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    margin: 70px 0;

    h2 {
      text-align: center;
      font-weight: 500;
      font-size: 32px;
      color: $primary-dark-title;
    }

    h3 {
      font-weight: 500;
      font-size: 20px;
    }

    a {
      display: flex;
    }
  }
}

.sectionLast {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 0 45px;

  background-image: url('../../assets/img/sectionLastBG.png');
  background-size: cover;
  color: $primary-light-text;

  span {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }

  h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 36px;
  }

  .button {
    padding: 12px 16px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .sectionTestMenu {
    .testMenu {
      .testMenuList {
        .item {
          .title {
            margin: 40px 0;
            //font-size: 60px;
          }

          .text {
            //font-size: 45px;
          }
        }
      }
    }

    .testMenuImgContainer {
      img {
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .direction {
    .title {
      h2 {
        //font-size: 40px;
      }
    }
  }
  .banner {
    .title {
      h1 {
        //font-size: 35px;
        //line-height: 55px;
      }
    }
  }
  .manual {
    .title {
      h2 {
        //font-size: 40px;
      }
    }

    .manualList {
      .item {
        .imgContainer {
          img {
            height: 150px;
          }
        }

        span {
          //font-size: 20px;
        }
      }
    }

    a {
      button {
        //font-size: 20px;
      }
    }
  }
  .sectionTestMenu {
    .testMenu {
      .progressBlock {
        width: 80%;

        .item1,
        .item2 {
          width: 80%;
        }
      }
    }

    .title {
      h2 {
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .direction {
    .directionList {
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      .directionItem {
      }
    }
  }
  .banner {
    flex-direction: column;

    .title {
      margin-bottom: 30px;

      h1 {
      }
    }

    button {
      max-width: 500px;
      align-self: flex-end;
      padding: 10px 12px;
    }
  }
  .manual {
    .title {
      h2 {
      }
    }

    .manualList {
      flex-direction: column;
      align-self: flex-start;
      gap: 50px;

      .item {
        width: 100%;
        flex-direction: row;

        .imgContainer {
          min-width: 165px;

          img {
          }
        }

        span {
        }
      }
    }

    a {
      button {
      }
    }
  }
  .sectionTestMenu {
    .testMenu {
      //margin-bottom: 100px;

      .testMenuList {
        margin-bottom: 150px;

        .item {
          .title {
            //font-size: 50px;
          }

          .text {
            //font-size: 30px;
          }
        }
      }

      .testMenuImgContainer {
        margin-bottom: 70px;

        img {
        }
      }
    }

    .title {
      h2 {
        //font-size: 40px;
      }

      .subTitle {
        flex-direction: column;

        h2 {
          margin-bottom: 30px;
        }

        a {
          align-self: flex-end;

          button {
            padding: 10px 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .direction {
    .title {
      h2 {
        //font-size: 30px;
      }
    }
  }
  .banner {
    flex-direction: column;

    .title {
      margin-bottom: 30px;

      h1 {
        //font-size: 30px;
        //line-height: 35px;
      }
    }
  }
  .sectionTestMenu {
    .testMenu {
      .progressBlock {
        width: 90%;

        .item1,
        .item2 {
          width: 100%;
        }
      }
    }
  }

  .manual {
    .manualList {
      .item {
        .imgContainer {
          min-width: 110px;
          img {
            height: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .manual {
    .manualList {
      .item {
        flex-direction: column;
        align-items: flex-start;

        .imgContainer {
          img {
          }
        }
      }
    }
  }
}
