@import '../../styles/variables.scss';

.Recomendation {
  margin: 46px 0;
  .container {
    padding: 20px 0;
    background-color: $primary-dark-bg;
    color: $primary-light-text;
  }
  .SwiperArrow {
    path {
      fill: $primary-light-text;
    }
  }
  &-Title {
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
    color: $primary-light-text;
  }
}
