@import '../../styles/variables';
@import '../../styles/fonts.scss';

/*.mainContainer {
    display: flex;
    background: $primary-dark-bg;
    .sectionDark {
        background: $primary-dark-bg;
        display: flex;

    .sectionContainer {
        max-width: 899px;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        p {
            font-size: $font-size-large;
            color: $text-color-light;
        }
        h2 {
            font-size: $font-size-h2;
            color:  $text-color-light;
            padding: 1rem;
        }
    }
        .sectionImgContainer {
            img {
                width: 200px;
                margin: 1.0rem;   
                color: $main-white;
            }
        }
    }
}*/