.cart {
  width: 430px;
  height: 100px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.wrapper {
  margin: 30px 0 30px 0;
}

@media (max-width: 390px) {
  .cart {
    width: 200px;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}


@media (max-width: 1200px) {
  .cart {
    width: 70%;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
}
