@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$app-font-family: "Open Sans", sans-serif;

$font-size-h1: 38px;
$font-size-h2: 34px;
$font-size-h3: 32px;
$font-size-large: 20px;
$font-size-middle: 16px;
$font-size-small: 12px;
