.cart{
    width: 440px;
    height: 140px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper{
    margin: 30px 0 30px 0;
}