.cart{
    width: 440px;
    height: 140px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper{
    margin: 30px 0 30px 0;
}


@media (max-width: 370px){
    .cart{
        width: 200px;
        height: auto;
        font-size: 12px;
    }
    .cart img{
        width: 30%;
    }
}

@media (max-width: 990px){
    .cart{
        width: 300px;
        height: auto;
        font-size: 12px;
    }
    .cart img{
        width: 30%;
    }
}

@media (max-width: 770px) {
    .cart{
        width: 250px;
    }
}

@media (max-width: 530px) {
    .cart{
        width: 200px;
    }
}