// COLORS
$primary-dark-text: #282828;
$primary-dark-title: #1F1F55;
$primary-dark-bg: #1F1F55;

$primary-light-title: #FFFFFF;
$primary-light-text: #FFFFFF;
$primary-light-bg: #FFFFFF;

$secondary-light-title: #D9D9D9;
$secondary-light-text: #D9D9D9;
$secondary-dark-title: #684ADD;

$secondary-bg: #42DBBF;
$secondary-light-bg: #D9D9D9;

$primary-dark-hover: #28282817;
$primary-light-hover: #d8d8fe17;

//HEW COLOR
$main-blue: #1F1F55;
$main-green: #42DBBF;
$main-purple: #684ADD;
$main-yellow: #BDEA09;
$main-white: #FFFFFF;

$shaded-mid-blue: #575797;
$shaded-mid-light-blue: #8181DA;
$shaded-light-blue: #D8D8FE;
$shaded-mid-light-green: #8DF4E2;
$shaded-light-green: #CEFFF6;

$text-color-light: #E5E5E6;
$text-color-middle: #808099;
$text-color-dark: #282828;

$allert-color-red: #EB5757;
$stroke-color: #F2994A;

$hover-color-dark: #28282817;
$hover-color-light: #d8d8fe17;

//SIZES
$main-border-radius: 6px;

// ANIMATION
$main-transition: ease-in-out 200ms;