$primary-dark-text: #282828;
$primary-dark-title: #1F1F55;
$primary-dark-bg: #1F1F55;

$primary-light-title: #FFF;
$primary-light-text: #FFF;
$primary-light-bg: #FFF;

$secondary-light-title: #D9D9D9;
$secondary-light-text: #D9D9D9;
$secondary-dark-title: #684ADD;

$secondary-bg: #42DBBF