// FONTS

// COLORS
$primary-dark-text: #282828;
$primary-dark-title: #1F1F55;
$primary-dark-bg: #1F1F55;

$primary-light-title: #FFFFFF;
$primary-light-text: #FFFFFF;
$primary-light-bg: #FFFFFF;

$secondary-light-title: #D9D9D9;
$secondary-light-text: #D9D9D9;
$secondary-dark-title: #684ADD;

$secondary-bg: #42DBBF;
$secondary-light-bg: #D9D9D9;

$primary-dark-hover: #28282817;
$primary-light-hover: #d8d8fe17;

//SIZES
$primary-border-radius: 6px;

// ANIMATION
$primary-transition: ease-in-out 200ms;