@import "../../styles/variables";

.button {
  padding: 3px 12px;
  border: none;
  border-radius: 5px;
  background: none;
  color: $primary-dark-text;
}
.primary {
  background: $secondary-bg;
}
.outline {
  padding: 1px 12px;
  border: 2px solid $secondary-bg;
}