@import '../../styles/variables';

.header {
  background: $primary-light-bg;
  box-shadow: -1px 3px 13px 0px;
}
.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
.inner {
  //max-width: 1470px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 27px 0;

  .logo {
    margin-right: 20px;
  }
  .nav {
    width: 85%;
    display: flex;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 760px) {
  .inner {
    .logo {
      //width: 10%;

      img {
        width: 65px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
  .header {
    box-shadow:none;
  }
}