.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .footer{
    margin-top: auto;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px 0;

  overflow: hidden;
}
.userDataWrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;

  background-image: url("../../../assets/img/bg-diagram.png");
  background-size: cover;

  padding: 20px;

  .avatar {
    margin-bottom: 50px;

    .iconProfile {

      svg {
        height: 200px;
        width: auto;
      }
    }
  }

  .dataItem {
    margin-bottom: 40px;
    font-size: 20px;
  }
  .showSettings {
    display: none;
  }
}
.formWrapper {
  width: 45%;
}

@media screen and (max-width: 1000px) and (min-width: 800px){
  .container {
    width: 95%;
  }
  .userDataWrapper {
    .dataItem {
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 800px){
  .userDataWrapper {
    width: 100%;

    .showSettings {
      position: absolute;
      top: 19px;
      right: 20px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 5px;
      background: none;
      z-index: 10;

      &:active {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
  .formWrapper {
    position: absolute;
    right: -3000px;
    width: 100%;
    height: 100%;
    display: flex;
    //padding-right: 100px;
    background: white;

    transition: .3s;
  }
  .showForm {
    right: 0;

    transition: .5s;
  }
}