.form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .label {
    position: relative;
    width: 100%;

    .inputText, .select, .loadFileButton, .icon {
      width: 100%;
      height: 60px;
      padding: 0 16px;
      border: 1px solid black;
      border-radius: 6px;

      &:focus-visible {
        outline: none;
      }
    }

    .inputFile {
      display: none;
    }
    .customInputFile {
      width: 100%;
      display: flex;
      gap: 40px;
      cursor: pointer;

      .loadFileButton {
        width: fit-content;
        display: flex;
        align-items: center;
      }
      .nameFile {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-bottom: 1px solid black;

        overflow: hidden;
      }
      .icon {
        width: fit-content;
        display: flex;
        align-items: center;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .error {
      position: absolute;
      top: 63px;
      left: 16px;

      color: red;
    }
  }
  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    button {
      position: relative;
      min-width: 120px;
      //width: 45%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      background-color: #808185;
      border-radius: 8px;
      border: solid #808185 1px;
      color: white;
      font-size: 18px;
      font-weight: 700;

      transition: .2s;

      &:hover {
        background: #5c636a;
        transition: .2s;
      }
    }
  }

}