@import '../../styles/variables.scss';

.footer {
  background: $primary-light-bg;
  box-shadow: -6px 20px 19px 16px;

  .container {
    width: 65%;
    margin: 0 auto;
  }

  .inner {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

  .logo {
    width: 180px;
    margin-bottom: 80px;

    img {
      width: 100%;
    }
  }

  .nav {
    margin-bottom: 60px;

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin-bottom: 25px;
        padding: 0 15px;
        border-left: 1px solid $secondary-light-bg;

        a {
          font-weight: 400;
          font-size: 12px;
          color: $primary-dark-text;
        }
      }
    }
  }

  .search {
    display: flex;
    flex-direction: column;

    margin-bottom: 110px;

    span {
      font-weight: 400;
      font-size: 14px;
      color: $primary-dark-text;
    }
    label {
      position: relative;
      width: fit-content;

      input {
        padding: 3px 6px 6px;
        border: 1px solid $secondary-light-bg;
        border-radius: 4px;
        color: #bfbfbf;

        &::placeholder {
          color: #bfbfbf;
        }

        &:focus-visible {
          outline: none;
        }
      }

      .iconSearch {
        position: absolute;
        right: 10px;

        svg path {
          fill: #bfbfbf;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 22px;

    .iconLinks {
      margin-bottom: 20px;

      a {
        margin-left: 30px;
      }
    }

    .mail {
      a {
        padding-left: 15px;
        color: #1890ff;
        border-left: 1px solid #1890ff;
      }
    }
  }

  .info {
    font-weight: 400;

    span {
      font-size: 14px;
      color: #959595;
    }

    p {
      margin-top: 12px;
      text-align: left;
      font-size: 12px;
      color: $primary-dark-text;
    }
  }
}
