.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .footer{
    margin-top: auto;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.header {
  margin-bottom: 30px;
}
.section {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .statDiagram {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-image: url("../../../assets/img/bg-diagram.png");
    background-size: cover;

    .avatar {
      width: 150px;
      margin: 20px auto 20px 20px;

      img {
        width: 100%;
      }
    }
    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 24px 15% 0 auto;
      font-weight: bold;

      .name {
        font-size: 30px;
        margin-bottom: 22px;
      }
      .specialization {
        font-size: 20px;
      }

    }
    .title {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 24px;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .statNav {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      position: relative;
      width: 50%;
      display: flex;
      padding: 20px 20px;
      margin-top: -35px;
      border-radius: 10px;
      background: #808185;
      transition: .2s;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;

      z-index: 1;

      span {
        text-align: center;
      }
    }
    .one {
      margin-top: 20px;
      z-index: 5;
    }
    .two {
      background: #D9D9D9;
      z-index: 4;
    }
    .three {
      z-index: 3;
    }
    .four {
      background: #EA94DB;
      z-index: 2;
    }
    .item:hover {
      z-index: 10;
      transform: scale(1.1);
      transition: .3s;
    }
    .active {
      z-index: 6;
      transform: scale(1.1);
    }

    .recommendations {
      width: 100%;
      display: flex;

      margin-top: auto;
      padding: 50px;

      background-image: url("../../../assets/img/bg-recommendations.png");
      background-size: cover;

      font-size: 20px;
      font-weight: bold;

      span {
        text-align: center;
      }
    }
  }
}