@import '../../styles/variables';
@import '../../styles/mixins.scss';

.container {
  @include container;
}

.UserInfo {
  padding: 60px 0;
  background-image: url('../../assets/img/sectionLastBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    display: flex;
    gap: 200px;
  }
  .UserDescription {
    color: $primary-light-text;
    &-name {
      font-size: 34px;
      font-weight: 400;
    }
    &-shortResults {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 60px;
        align-items: center;
      }
      &-speciality {
        align-self: start;
        font-size: 32px;
      }
      &-level {
        align-self: end;
        font-size: 20px;
      }
      &-levelIcon {
        justify-self: center;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
      }
    }
  }
  .UserPhoto {
    padding: 20px 20px 60px;
    background-color: #42dbbf;
    border-radius: 5px;
  }
}

.Welcome {
  padding: 10px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  h2 {
    font-size: 32px;
  }
  .MainActions {
    display: flex;
    gap: 60px;
  }
}

.Tests {
  padding: 50px 0;
}

.Recomendation {
  margin: 46px 0;
  .container {
    padding: 20px 0;
    background-color: $primary-dark-bg;
    color: $primary-light-text;
  }
  .SwiperArrow {
    path {
      fill: $primary-light-text;
    }
  }
  &-Title {
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
    color: $primary-light-text;
  }
}
