@import '../../styles/variables';
@import '../../styles//fonts.scss';

.customInput {
  margin: 20px 0;
  input {
    padding: 10px;
    width: 100%;
    font-size: $font-size-middle;
    border-radius: $main-border-radius;
    border: 1px solid $text-color-middle;
  }
  .customInput-error {
    border-color: $allert-color-red;
    background-color: #ffecec;
  }
}

.error {
  min-height: 20px;
  display: flex;
  align-items: center;
  &-message,
  &-required {
    display: none;
    color: $allert-color-red;
  }
  .visible {
    display: block;
  }
}
